.library-box {
  width: 90%;
  height: 100%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}

.playlist-card {
  position: relative;
  width: 15%;
  height: 35%;
  border-radius: 20px;
  background-color: antiquewhite;
  border: 1px dotted wheat;
  padding: 1%;
  margin-bottom:  2%;
  background: #FDFFC2  ;

  transition: all 0.2 ease;
  cursor: pointer;
}

.playlist-card:hover {
  transform: scale(1.02);
}

.playlist-card:hover .playlist-fade{
  opacity: 1;
}
.playlist-images {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
}

.playlist-title {
  font-weight: 800;
  font-size: 16px;
  color: #A3D8FF;
  margin: 10px 0px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.playlist-subtitle{
  font-weight: 400;
  font-size: 12px;
  margin: 0px;
  color: #000;
}

.playlist-fade {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  border-radius: 20px;
  height: 17%;
  background: #94FFD8;
  background: linear-gradient(0deg,
 rgba(34,193,195,0.43040966386554624) 0%,
 rgba(253,186,45,0.27074579831932777) 100%);    
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 8% 0px;
  transition: 0.5s ease;
}
